
@CHARSET "UTF-8";
/*部員紹介*/
#member_sub_window {
	position: absolute;
	left: 300px;
	top: 10px;
	width: 600px;
	height: 400px;
	background-color: white;
	border: 1px solid black;
	background-image: url(../images/window00.png);
}

#personaldata_window {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 300px;
	height: 160px;
	background-image: url(../images/window01.png);
	z-index: 6;
	/*フォント*/
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#charactor {
	position: absolute;
	left: 50px;
	top: 100px;
	z-index: 5;
}



#profile_subjects {
	float: left;

	text-align: right;
	margin-right: 10px;
	margin-top: 35px;
	margin-left: 8px;
}

#myprofile {
	float: left;
	text-align: left;
	margin-top: 35px;
}
.subject_name {

}

.personaldata {
	

}

#memberwindow {
	position: absolute;
	left: 900px;
	top: 10px;
	width: 190px;
	height: 400px;
	background-color: green;
	border-radius: 10px;
}

#scroll_upside {
	position: relative;
	width: 188px;
	height: 60px;
	background: linear-gradient(#FFF 60%,#BBB);
	border-radius: 5px;
	border: solid 1px green;
}

#frame_left {
	float: left;
	width: 15px;
	height: 280px;
	background: -webkit-gradient(linear,left center, right center, from(green), to(#BBB));
	background: -moz-linear-gradient(left, #BBB, #EEE);
	border: solid 1px gray;
}

#memberwrap {
	float: left;
	height: 280px;
	width: 156px;
	overflow: hidden;

}

#frame_right {
	float: left;
	width: 15px;
	height: 280px;
	background: -webkit-gradient(linear,left center, right center, from(#BBB), to(green));
	background: -moz-linear-gradient(left, #EEE, #BBB);
	border: solid 1px gray;
}

#scroll_downside {
	position: relative;
	top: 280px;
	width: 190px;
	height: 60px;
	background: linear-gradient(#BBB, #FFF 60%);
	border-radius: 5px;
	border: solid 1px green;
}

.type_member {
	float: left;
	height: 70px;
	width: 156px;
	border-radius: 5px;
	background-color: #DDFFDD;
}

.type_member:hover {
	cursor: pointer;
}




#member1 {

}

#member2 {


}

#member3 {


}


#member4 {


}

#member5 {


}

#member6 {


}

#member7 {


}

#member8 {


}

#member9 {


}

#member10 {


}
#member11 {


}
#member12 {


}